# Ignorar entorno virtual
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Archivos de entorno de Django o VS Code
*.log
*.pot
*.py[cod]
*.swp
.DS_Store
.idea/
.vscode/

# Archivos de configuración locales
*.local
